@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*CORES PRIMARIAS PARA PROJETO*/
    --green-lemon-01:#16B84f;
    --green-lemon-02:#1bde5f;
    --green-neon:#1ef76a;
    --green-dark:#0e7833;
    --green-neon-dark:#073818;
    --black:#000000;

    /*CORES COMPONENTES*/
    --gray-destaque:#191919;
    --gray-shadow:#19191925;

    /*FONTES TITULOS, SUBTITULOS E TEXTOS*/
    --font-primary:"Poppins", sans-serif;
    --font-secundary:"Roboto", sans-serif;

}